<div class = index>
<h1>here come that b0i!!!!!!!</h1><br></br>
    <h1><a ><span>Actually productive stuff</span></h1></a>
        <div id = "new-todo-block">
        </div>
       <ul>
         <% @todos.each do |todo| %>
           <li>
               <input type = "checkbox" name = "">
               <a href = "todo/show/<%= todo.id %>"><%= todo.description %>
               <span class = "pomodoro-estimate"><%= todo.pomodoro_estimate%> Pomodoros</span> 
               </a>
               <!-- this makes the entire thing a link -->
           </li>    
           <% end %>
    <h1>Memes (to be continued)</h1>
           <li class = "nyes"><a href = "Pinkguy"> Pinkguy</li>
           <li class = "swamp"><a href = "LeOgre">Le OGRE</li>
           <li class = "pepe"><a href = "REEEEEE">REEEEEEE</li>
           <li class = "blacc"><a href = "Cory">Free Anime</li>
           <li class = "vape"><a href = "h3h3">Go green</li>
           <li class = "meat"><a href = "Yeahbwoi">Good ol'rub</li>
           </h2>       
       </ul>
       <div id = "new-todo-block">
           <a href = "/todo/new" class = "button add-new-todo-button" id ="add-new-todo-button"> Add a todo</a>
       </div>
</div>