<div class = "card">
    <h2>Add a new to-do</h2>
    
    <form action ="/todo/create">
    <input class ="text-input" name = "description" type ="text" placeholder = "Add a new to-do">
    <input class ="text-input" name = "pomodoro_estimate" type ="number" placeholder = "Due date">
    <input class ="button-add-new-todo-button" type ="submit" value = "Add to-do">
    <a href = "/" class = "simple-link">Go back</a>
    </form>
</div>